---
const redirectUrl = "https://github.com/FossifyOrg/#support-fossify-heart";
---

<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <title>기부 페이지로 리다이렉트하는 중...</title>
        <meta http-equiv="refresh" content={`0; url=${redirectUrl}`} />
    </head>
    <body>
        <p>
            리다이렉트되지 않는다면 <a href={redirectUrl}>여기를 클릭하세요</a>.
        </p>
    </body>
</html>
