---
const redirectUrl = "https://github.com/FossifyOrg/#support-fossify-heart";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Redirecting to Donation Page...</title>
        <meta http-equiv="refresh" content={`0; url=${redirectUrl}`} />
    </head>
    <body>
        <p>
            If you are not redirected, please <a href={redirectUrl}>click here</a>.
        </p>
    </body>
</html>
