---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fossify Website">
	<main>
		<body>
			<h1>Welcome to Fossify!</h1>
			<p>
				Explore a collection of simple, open-source apps designed
				without ads and unnecessary permissions. Customize your
				experience with a range of colors. Fossify is a fork of
				@SimpleMobileTools.
			</p>
			<p>Site under construction</p>
		</body>
	</main>
</Layout>
